.body {
    padding-left: 290px; 
    padding-right: 290px;
    background-color: rgb(212, 236, 212)
}

.titulo {
    text-align: right;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.descricao{
    text-align: center justify;
    font-size: 20px;
    color: gray;
}

.linha {
    border-top: 4px black solid;
}

.barra{
    font-size: 17px;
    color: yellow;
}

.opcoes{
    display: flex;
    text-align: center;
    gap: 50px;
    font-size: 18px;
}

.linha-2{
     border-top: 4px black solid;
}

.defina{
    color: red;
    text-align: right;
    font-size: 26px;
    background-color: rgba(252, 215, 234, 0.584);
}

.container-horizontal{
    font-family: Arial, Helvetica, sans-serif;
}

.horizontal{
    color: rgb(22, 22, 100);
    text-decoration: underline;
    text-align: center;
    font-size: 33px;
}

.alinhamento-span{
    color: rgb(231, 231, 0);
    font-weight: bold;
}

.alinhamento-li{
    font-size: 20px;
}

.livro-li{
    font-size: 20px;
}

.livro-span{
    color: rgb(14, 133, 14);
    font-weight: bold;
}

.posicao-li{
    font-size: 20px;
}

.posicao-span{
    color: rgb(139, 216, 249);
    font-weight: bold;
}

.relativa-li{
    font-size: 20px;
}

.relativa-span{
    color: rgb(163, 28, 28);
    font-weight: bold;
}


.container-vertical{
    font-family: Arial, Helvetica, sans-serif;
}

.vertical{
    font-size: 33px;
    text-align: center;
    text-decoration: underline;
    color: rgb(22, 22, 100);
}

.container-vertical li{
    font-size: 20px;
}

.container-opcoes{
    font-family: Arial, Helvetica, sans-serif;
}

.opcoes-titulo{
    font-size: 33px;
    text-align: center;
    text-decoration: underline;
    color: rgb(22, 22, 100);
}

.container-opcoes li{
    font-size: 20px;
}

